  #cadastro, #esqueceu {
    background-color: transparent;
    color: #84B4FF;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    
    display: flex;
  }
  
  #cadastro:hover, #esqueceu:hover {
    text-decoration: underline;
    color: #1A1F51;
  }
  #esqueceu[disabled]{
    cursor: not-allowed;
  }
  